<% provide(:title, 'About') %>

<div class="base_table">
	<div class= "section_background table_cell" id="about_background_1">
		<h1 class="about_heading_top">a <span class="about_text_highlight">simple</span> tool to help<br> friends connect <span class="about_text_highlight">offline</span></h1>
	</div>
</div>

<div class="base_table">
	<div class= "section_background table_cell desktop" id="about_background_2">
		<div class="about_text_box">
			<h1 class="about_heading" id="about_heading_2">What.<br><br></h1>
			<h2 class="about_text">Decide what you want to do.</h2>
		</div>
	</div>
	<div class= "section_background table_cell desktop screenshot" id="about_background_2">
		<%= image_tag "activity_screenshot.png", :class => "about_screenshots" %> 
	</div>
	<div class= "section_background table_cell mobile" id="about_background_2.1">
		<h1 class="about_text">Hello 2</h1>
	</div>
</div>

<div class="base_table">
	<div class= "section_background table_cell desktop" id="about_background_3">
		<div class="about_text_box">
			<h1 class="about_heading" id="about_heading_3">Where.<br><br></h1>
			<h2 class="about_text">Decide what you want to do.</h2>
		</div>
	</div>
	<div class= "section_background table_cell desktop screenshot" id="about_background_3">
		<%= image_tag "activity_screenshot.png", :class => "about_screenshots" %> 
	</div>
	<div class= "section_background table_cell mobile" id="about_background_2.1">
		<h1 class="about_text">Hello 2</h1>
	</div>
</div>

<div class="base_table">
	<div class= "section_background table_cell" id="about_background_5">
		<h1 class="about_text">Hello 2</h1>
	</div>
</div>


