<% provide(:title, 'Contact') %>

<%= render 'layouts/header' %>

<div class="base_table">
	<div class= "section_background table_cell" id="contact_background_1">
		<h1 class="about_heading_top">Drop us a Line</h1><br>
		<h3 id = "scroll_down">(scroll down or press 'n' to learn more)</h3>
	</div>
</div>