<div id="launch_splash">
	
	<div id="flock_text_box"></div>
	<h1 id="flock_text">Flock</h1>

	<div id="launch_text_box">
		<h1 id="launch_text">Bring the party <span id="offline">OFFLINE</span></h1>
	</div>
	
	<header>	
		<nav>
			<ul>
				<li><%= link_to "About", "#", :class => "linka"%></li>
				<li><%= link_to "Team", "#", :class => "links" %></li>
				<li><%= link_to "Contact", "#", :class => "links" %></li>

			</ul>
		</nav>
	</header>
	<img ><%= image_tag "launch_screenshot.png", :class => "launch_screenshot" %><img>

	<!-- <h2>Flock<br> A <span> simple </span> tool to help friends connect <span>offline</span> -->
</div>




