// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";
// <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">;

/********************
COLOR TEMPLATE
********************/

$lightGreen: #CCDECA;
$lightGreen2: #a4c29d;
$darkGreen: #669e5e;
$darkdarkGreen: #6CA65B;
$offWhite: #ECEBE8;
$offWhite2: #c4bfb0;
$brownGray: #424242;

/********************
GENERAL
********************/

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	font-family: "Carme", sans-serif;
}

body {
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: none;
}

a:hover {
	background-color: transparent;
}

/********************
HEADING
********************/

#static_page_header {
	top: 0;
	left: 0;
	right: 0;
	position: fixed;
	background: white;
	text-align: right;
	height: 55px;
}

#static_header_nav {
	ul {
		list-style: none;
		margin: 0;
		padding: 10px 10px 0 0;

		li {
			display: block;
			width: 150px;
			display: inline;
			padding: 0 0px;

			a {
				  color: $darkGreen;
				  padding: 0px 5px;
				  line-height: 35px;
				  text-decoration: none;
				  font-size: 1.2em;
				  font-family: 'carme';
				  border-radius: 3px;
				  -webkit-transition: all 0.1s ease-in-out;
				  -moz-transition: all 0.1s ease-in-out;
				  -o-transition: all 0.1s ease-in-out;
				  transition: all color 0.1s ease-in-out;

				  &:hover {
				  	 color: $brownGray;
				  	 background: transparent;
				  }
			}
		}
	}
}

.header_logo {
	float: left;
	position: fixed;
	top: 5px;
	left: 10px;
}

#flock_text_header {
	position: absolute;
	left: 60px;
	top: 10px;
	font-family: "Hammersmith One", sans-serif;
	color: $darkGreen;
	font-size: 40px;
	opacity: 1;

	a {

		&:hover{
			background-color: transparent;
		}
		
	}
}

#blankspace {
	height: 55px;
}


/********************
HOME PAGE
********************/

.home_wrapper {
	position: center;
	background-color: $lightGreen;
}

#launch_splash {
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;

	background: url(launch_background.png) no-repeat right center fixed;
  	-webkit-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

header#launch_header_nav {

	position: fixed;
	top: 0;
	right: 0;
	background: transparent;
	text-align: right;
	height: 55px;

	nav {

		ul {
			list-style: none;
			margin: 0;
			padding: 10px 10px 0 0;

			li {
				width: 150px;
				display: inline;
				padding: 0 0px;

				a {
					  color: white;
					  padding: 0px 5px;
					  line-height: 35px;
					  text-decoration: none;
					  font-size: 1.2em;
					  font-family: 'carme';
					  border-radius: 3px;
					  -webkit-transition: all 0.1s ease-in-out;
					  -moz-transition: all 0.1s ease-in-out;
					  -o-transition: all 0.1s ease-in-out;
					  transition: all color 0.1s ease-in-out;

					  &:hover {
					  	 color: $darkGreen;
					  	 background-color: transparent;
					  }
				}
			}
		}
	}
}

.launch_logo {
	position: relative;
	height: 80px;
	width: 80px;
	top: 27px;
	left: 15px;
}

#flock_text_box {
	position: absolute;
	background-color: white;
	top: 22.5px;
	left: 0;
	width: 335px;
	height: 90px;
	opacity: 0.8;
}


#flock_text {
	text-align: center;
	position: absolute;
	left: 105px;
	top: 52.5px;
	font-family: "Hammersmith One", sans-serif;
	color: $darkGreen;
	font-size: 80px;
	opacity: 1;
}

#launch_text_box {
	position: absolute;
	top: 140px;
	left: 0;
	text-align: left;
	color: white;
	opacity: 0.4;
	background-color: black;
	padding: 15px 32.5px;
}

#launch_text {

	font-size: 25px;
	font-family: "Carme", sans-serif;

	#offline {
		font-size: 32px;
		font-family: "Arvo", sans-serif;

	}
}

	#desktop_form {
		input[type=email] {
		    position: absolute;
		    top: 300px;
		    border: 3px solid $lightGreen; 
		    padding: 10px;
		    background: white;
		    margin: 10px 0 10px 0px;
		    font-size: 1.2em;
		    width: 220px;
		    font-family: "Carme";
		    letter-spacing: 1.5px;
		    -webkit-border-radius: 0px;
		    -moz-border-radius: 0px;
		    -webkit-transition: all 0.5s ease-in-out;
			-moz-transition: all 0.5s ease-in-out;
			-o-transition: all 0.5s ease-in-out;
			transition: all 0.5s ease-in-out;
		    border-radius: 0px;
		    text-align: left;
		    padding-left: 30px;
		    opacity: 0.8;
		}

		input[type=email]:focus {
		    border: 3px solid $darkGreen; 
		    outline: none;
		    opacity: 1.0;
		}

		input[type=email]:hover {
		    border: 3px solid $darkGreen; 
		    outline: none;
		    opacity: 1.0;
		}

		input[type=submit]{
		    border: 0px solid transparent;
		    padding: 10px;
		    background: $darkGreen;
		    color: white;
		    font-size: 1.2em;
		    width: 220px;
		    font-family: "Carme";
		    border-radius: 0px;
		    opacity: 1.0;
		    -webkit-transition: all 0.5s ease-in-out;
			-moz-transition: all 0.5s ease-in-out;
			-o-transition: all 0.5s ease-in-out;
			transition: all 0.5s ease-in-out;
			position: absolute;
		    top: 370px;
		    opacity: 0.7;
		}

		input[type=submit]:hover {
		    border: 0px solid #F4F4EE;
		    padding: 10px;
		    background: $darkGreen;
		    color: white;
		    font-size: 1.2em;
		    width: 265px;
		    opacity: 1;
		}

		input[type=submit]:active {
		   	width: 265px;
		}
	}

.launch_screenshot {
	visibility: hidden;
}

/****HOMEPAGE RESPONSIVE****/

@media screen and (max-width: 320px) {

	.about_text_highlight {
		font-size: 1.7em;
	}

	.mobile {
		display: table-cell;
	}

	.desktop {
		display: none;
	}

	.hidden {
		visibility: hidden;
	}

	#launch_splash_mobile {
		position: absolute;
		height: 100%;
		width: 100%;
		overflow: hidden;

		background: url(launch_background_mobile.png) no-repeat right center fixed;
	  	-webkit-background-size: cover;
	  	-o-background-size: cover;
	  	background-size: cover;
	}

	.launch_logo {
		
	}

	#mobile_form {
		input[type=email] {
		    position: absolute;
		    top: 250px;
		    left: 10%;
		    border: 3px solid $lightGreen; 
		    padding: 10px;
		    background: white;
		    margin: 10px 0 10px 0px;
		    font-size: 1.2em;
		    width: 50;
		    font-family: "Carme";
		    letter-spacing: 1.5px;
		    -webkit-border-radius: 0px;
		    -moz-border-radius: 0px;
		    -webkit-transition: all 0.5s ease-in-out;
			-moz-transition: all 0.5s ease-in-out;
			-o-transition: all 0.5s ease-in-out;
			transition: all 0.5s ease-in-out;
		    border-radius: 0px;
		    text-align: left;
		    padding-left: 30px;
		    opacity: 1;
		}

		input[type=email]:focus {
		    border: 3px solid $darkGreen; 
		    outline: none;
		    opacity: 1.0;
		}
	}

	#launch_mobile_text_background {
		position: absolute;
		background-color: black;
		margin-top: 28%;
		height: 43px;
		width: 100%;
		opacity: 0.3;
	}

	#launch_mobile_text {
		position: absolute;
		opacity: 1;
		color: white;
		margin-top: 31%;
		width: 100%;
		text-align: center;
		text-decoration: strong;
		font-size: 1.3em;
		line-height: 1.3em;
		background: transparent;
		opacity: 1;

		span {
			font-family: "Arvo", sans-serif;
			font-size: 1.6em;
			color: white;
		}
	}

	h3#launch_mobile_text {
		color: $darkGreen;
		margin-top: 43%;
		font-size: 1em;
	}

	
}


/********************
ABOUT
********************/

.section_background1 { 
	margin: 0;
	width: auto;
	height: auto;
	padding: 0;
	min-width: 500px;
}

#about_background_1 {
	background-color: $darkGreen;
}

#about_background_2 {
	background-color: $lightGreen;
}

#about_background_3 {
	background-color: $offWhite;
}

#about_background_4 {
	background-color: $darkGreen;
}

#about_background_5 {
	background-color: $lightGreen;
}

.base_table {
	display: table;
	width: 100%;
}

.table_cell {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.screenshot {
	width: 45%;
}

.screenshot_2 {
	width: 100%;
}


.mobile {
	display: none;
}

.about_screenshots {
	max-height: 75%;
	width: auto;
}

.about_screenshots_2 {
	max-height: 50%;
	width: auto;
}

.about_heading_top {
	font-size: 2.25em;
	line-height: 2.25em;
	color: $lightGreen2;
	padding: 15px;
}

#scroll_down {
	font-size: 1.2em;
	color: $offWhite;
	padding: 0;
	line-height: 1em;
}

.about_text_highlight {
	font-family: "Arvo", serif;
	font-size: 2.5em;
	color: $offWhite;
}

.about_text_box {
	width: 100%;
	margin: 0 auto; 
	padding-left: 15%;
}

.about_text_box_5 {
	position: relative;
	top: 2.5%;
	width: 100%;
	margin: 0 auto; 
	padding: 0;
}

.about_heading {
	text-align: left;
	font-size: 5.5em;
	font-family: "Arvo", serif;
}

#about_heading_2 {
	color: $darkGreen;
}

#about_heading_3 {
	color: $brownGray;
}

#about_heading_4 {
	color: $offWhite;
}

#about_heading_5 {
	color: $darkGreen;
	text-align: center;
	font-size: 4em;
	line-height: 1em;
	span {
		font-family: "Carme", serif;
		font-size: 0.5em;
	}
}

.about_text {
	font-size: 2.7em;
	text-align: left;
}

#about_text_2 {
	color: $lightGreen2;
}

#about_text_3 {
	color: $offWhite2;
}

#about_text_4 {
	color: $lightGreen2;
}

#about_text_5 {
	color: $darkGreen;
	text-align: center;
	font-size: 5em;
	line-height: 0.9em
}

.press_u {
	font-size: 1em;
	position: fixed;
	bottom: 10px;
	right: 25px;
	color: $darkGreen;
	text-align: center;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	display: none;
}



@media screen and (max-width: 500px) {
	.about_heading_top {
		font-size: 1.4em;
		line-height: 1.5em;
		padding: 10px
	}

	.about_text_highlight {
		font-size: 1.7em;
	}

	.mobile {
		display: table-cell;
	}

	.desktop {
		display: none;
	}
}

/********************
TEAM
********************/

#outer_team_table {
	background-color: $lightGreen;
}

#team_table  {
 	padding: 0 7.5%;
 	width: 85%;
}

#team_background_1, #team_background_2, #team_background_3 {
	background-color: $lightGreen;
}

.team_header {
	font-family: "Arvo", serif;
	color: $darkGreen;
	padding-bottom: 10px;
}

.pic_links {

	&:hover {
		color: transparent;
		background-color: transparent;
	}

}

.team_pics {

	// border-radius: 100px;
	// -webkit-border-radius: 100px;
	// -moz-border-radius: 100px;
	// -webkit-box-shadow: 0 0 0px 2px $lightGreen;
	// -moz-box-shadow: 0 0 0px 2px $lightGreen;

	// &:hover {
	// 	border-radius: 100px;
	// 	-webkit-border-radius: 100px;
	// 	-moz-border-radius: 100px;
	// 	-webkit-box-shadow: 0 0 0px 2px $lightGreen2;
	// 	-moz-box-shadow: 0 0 0px 2px $lightGreen2;
	// }
}

.team_subtext {
	font-family: "Carme", serif;
	font-size: 1.2em;
	padding-top: 10px;
	line-height: 1.2em;
}

/********************
CONTACT
********************/

#contact_background_1 {
	background-color: $lightGreen;
}

.contact_heading {
	font-size: 5em;
	line-height: 0.8em;
	color: $lightGreen2;
}

img#connect_pics {
	padding: 0 2%;
}


/********************
RESPONSIVE APPLIED
********************/

@media screen and (max-width: 700px) {
	
	/****** LAUNCH SCREEN *******/
	#launch_text {
		font-size: 15px;
		#offline {
			font-size: 22.5px;
		}
	}
}


// @media screen and (max-width: 500px) {
	
// 	/****** LAUNCH SCREEN *******/

// 	#launch_splash {
// 		background: none;
// 	}

// 	.launch_screenshot {
// 		visibility: visible;
// 	}

// }




